:root {
  --header-height: 5.5rem;
  --clr__dk-main: #03080C;
  --clr__dk-almost: rgba(3, 8, 12, .9);
  --clr__dk-half: rgba(3, 8, 12, .5);
  --clr__dk-dim: rgba(3, 8, 12, .1);
  --clr__accent: #D9B526;
  --clr__accent-half: rgba(217, 181, 38, .5);
  --clr__accent-dim: rgba(217, 181, 38, .1);
  --txt__lt-main: #DDDEEE;
  --txt__lt-half: rgba(221, 222, 238, .5);
  --txt__lt-dim: rgba(221, 222, 238, .1); 

  --elipse-loader: elipse-loader 1s steps(4) infinite;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  content: '';
}

html {
  min-width: 100vw;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, #svelte {
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

ul {
  list-style-type: none;
}

a, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

input, button {
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: inherit;
}

input:is([type=text], [type=email], [type=password], [type=search], [type=url]) {
  padding: .35em .8em;
  border-radius: 7px;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: .5;
  cursor: default;
}

.icon-cont {
  width: 3.5rem;
  aspect-ratio: 1;
  background-color: var(--txt__lt-dim);
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  transition: border-color .1s linear;
}

.icon-cont:hover {
  border-color: var(--clr__accent);
}

@keyframes elipse-loader {
  0% { content: '.'; }
  33% { content: '..'; }
  66% { content: '...'; }
  100% { content: '...' }
}