@import 'open-props/style';

:root {
  --header-height: 5.5rem;

  --clr__dk-main: #03080C;
  --clr__dk-almost: rgba(3, 8, 12, .9);
  --clr__dk-half: rgba(3, 8, 12, .5);
  --clr__dk-dim: rgba(3, 8, 12, .1);
  --clr__dk-layer-low: rgb(26, 30, 35);
  --clr__dk-layer-high: rgba(112, 115, 125);
  --clr__lt-main: #DDDEEE;
  --clr__lt-almost: rgba(221, 222, 238, .8);
  --clr__lt-half: rgba(221, 222, 238, .5);
  --clr__lt-dim: rba(221, 222, 238, .2);
  --clr__accent: #d9b526;
  --clr__accent-half: rgba(217, 181, 38, .5);
  --clr__accent-dim: rgba(217, 181, 38, .1);
  --clr__error: rgba(206, 59, 18);
  --clr__success: rgb(45, 117, 0);

  --under-shadow: 0 20px 4px -20px var(--clr__dk-main);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  writing-mode: horizontal-tb;
}

*::before, *::after {
  content: '';
  position: absolute;
}

html {
  min-width: 100vw;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: var(--font-letterspacing-4);
}

body, #svelte {
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

#svelte {
  background: linear-gradient(
    90deg,
    var(--clr__lt-almost) 0%,
    #fff 20%,
    #fff 80%,
    var(--clr__lt-almost) 100%
  );
}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

ul {
  list-style-type: none;
}

a, a:visited, a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

input, button {
  border: none;
  color: inherit;
  font-size: inherit;
  letter-spacing: var(--font-letterspacing-4);
}

input:is([type=text], [type=email], [type=password], [type=search], [type=url]) {
  padding: .35em .8em;
  border-radius: 7px;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

button:disabled {
  opacity: .5;
  cursor: default;
}

.flex {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: var(--size-fluid-3, clamp(1rem, 2vw, 2rem));
}

.stack {
  flex-direction: column;
  justify-content: flex-start;
}

.round, .round::before, .round::after {
  border-radius: 50%;
}

[class*=icono-] {
  color: inherit;
}